<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">

    <title>
      Yelp Fusion API web app by sanisideup
      BlackTie.co - Sumo Landing website template
      http://blacktie.co/demo/sumolanding/
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/ionicons.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div id="h">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 centered">
            <h1><table>
            </table> Search it, then eat it. It's that simple. </h1>
            <div class="mtb">
              <form role="form" action="/search" method="post" enctype="plain">
                <div class="col-md-6">
                  <input type="text" name="term" class="text-input" placeholder="tacos, cheap dinner, or Max's">
                </div>
                <div class="col-md-6">
                  <input type="text" name="location" class="text-input" placeholder="San Francisco, CA or my location" required>
                </div>
                <input type="hidden" id="lat" name="lat" value="" />
                <input type="hidden" id="lon" name="lon" value="" />
                <button class='btn btn-conf btn-red' type="submit" > Show me where! </button>
              </form>
            </div><!--/mt-->
            <h5> The quickest way to choose a restaurant near you. </h5>
            <h6> Powered by <a href="https://www.yelp.com/developers"> Yelp's Fusion API. </a> </h6>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      getLocation();

      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              x.innerHTML = "Geolocation is not supported by this browser.";}
      }

      function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        document.getElementById('lat').value = lat;
        document.getElementById('lon').value = lon;
      }

    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/retina-1.1.0.js"></script>
  </body>
</html>
